<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>672857321462-7i2qfg5eqrk6pkpt6aehq5i49nsle028.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.672857321462-7i2qfg5eqrk6pkpt6aehq5i49nsle028</string>
	<key>API_KEY</key>
	<string>AIzaSyCcnzWzrL6bOqhmQl1mb4MRzsQA4IpyZPo</string>
	<key>GCM_SENDER_ID</key>
	<string>672857321462</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kz.gosu.vendor</string>
	<key>PROJECT_ID</key>
	<string>vendor-8be92</string>
	<key>STORAGE_BUCKET</key>
	<string>vendor-8be92.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:672857321462:ios:1be14200164d911df721d7</string>
</dict>
</plist>
